body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: auto;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.counts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.count {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.count .label {
    font-weight: bold;
    margin-bottom: 5px;
}

.count .value {
    font-size: 20px;
}
/*1-20, -1 -20 color border start*/
td.arbitrage {
    text-align: center;
    position: relative;
}

td.highlight-green {
    border: 2px solid #92e192;
    font-weight: bold;

}

td.highlight-red {
    border: 2px solid #ff7f7f;
    font-weight: bold;

}/*1-20,-1-20 color border end*/

/*arrow key start*/
#arrow-key {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 40px;
  height: 350px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  z-index: 9999;
}

#arrow-key:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #555;
  border-radius: 50%;
}

#arrow-key:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 300px;
  background-color: #555;
}/*arrow key end*/

/*selection start*/
.highlighted {
    background-color: yellow !important;
    transition: background-color 0.3s ease;
}

.art-mode {
    cursor: crosshair;
}/*selection end*/

/*art start*/
#canvas {
      border: 1px solid #000;
      cursor: crosshair;
    }
